:root {
    --main-color: #1E1E1E;
    --sec-color: #DEAD64;
    --text-color: #18191D;
    --border-color: #A0A0A0;
    --contact-color: #323232;
    --white-color: #FEFEFE;
    --red-color: #FF383C;

  }
   
  @font-face {
    font-family: "mon-bold";
    src: url("../fonts/Montserrat-Bold.ttf") format("ttf"),
      url("../fonts/Montserrat-Bold.woff") format("woff"),
      url("../fonts/Montserrat-Bold.woff2") format("woff2"),
      url("../fonts/Montserrat-Bold.eot") format("eot");
  }
  
  @font-face {
    font-family: "mon-reg";
    src: url("../fonts/Montserrat-Regular.ttf") format("ttf"),
      url("../fonts/Montserrat-Regular.woff") format("woff"),
      url("../fonts/Montserrat-Regular.woff2") format("woff2"),
      url("../fonts/Montserrat-Regular.eot") format("eot");
  }

  @font-face {
    font-family: "mon-med";
    src: url("../fonts/Montserrat-Medium.ttf") format("ttf"),
      url("../fonts/Montserrat-Medium.woff") format("woff"),
      url("../fonts/Montserrat-Medium.woff2") format("woff2"),
      url("../fonts/Montserrat-Medium.eot") format("eot");
  }
  
  @font-face {
    font-family: "mon-black";
    src: url("../fonts/Montserrat-Black.ttf") format("ttf"),
      url("../fonts/Montserrat-Black.woff") format("woff"),
      url("../fonts/Montserrat-Black.woff2") format("woff2"),
      url("../fonts/Montserrat-Black.eot") format("eot");
  }

  a,
  p,
  label,
  span,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "mon-reg";
     color: var(--text-color);
  }
  a {
    color: var(--text-color);
    text-decoration: none;
    -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
  }
  .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  
    outline: none;
  }
 
  body::-webkit-scrollbar {
    background-color: #fff;
    width: 7px;
    height: 0;
  }
  body::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
  }
  html {
    scrollbar-width: thin;
    scrollbar-color: var(--main-color) #fff;
  }
  input::-webkit-inner-spin-button,
  input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
  
  .clear {
    clear: both;
  }
  
  a:hover,
  a:active,
  a:focus {
    text-decoration: none;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  a:focus,
  input:focus,
  textarea:focus,
  button:focus {
    outline: 0;
  }
  .img-contain {
    max-width: 100%;
    max-height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

  /*  */
  
  .fixall {
    margin: 0;
    border: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0;
    text-decoration: none;
  }
  .fixall:focus,
  .fixall:hover {
    outline: 0;
    text-decoration: none;
  }
 
/* Side menu */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9;
  display: none;
  }
  
  .sidenav {
  right: -580px;
  overflow: auto;
  height: 100%;
  width: 290px;
  position: fixed;
  z-index: 999999;
  top: 0;
  background-color: var(--sec-color);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 55px;
  -webkit-box-shadow: 6px 1px 14px rgba(0, 0, 0, 0.175);
  box-shadow: 6px 13px 14px rgba(0, 0, 0, 0.175);
  }
  .sidenav .menu-head li a{line-height: 40px;    text-align: right;}
  
  .sidenav.open {
  right: 0;
  }
  
 .side-menu i {
font-size: 34px;
    color: var(--sec-color);
    width: 40px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 10px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: transparent;
    color: var(--sec-color);
    font-size: 20px;
    border: 1px solid var(--sec-color);
    border-radius: 5px;
    /* margin-inline-start: 10px; */
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
 .side-menu i :hover {
    background-color: var(--sec-color);
    color: var(--white-color);
}
  .side-menu .logo{text-align: center;}
  .side-menu .logo img{
  margin: auto;
  margin-bottom: 25px;
  width: 205px;
  
  }
  .sidenav input {
  width: 190px;
  height: 35px;
  border: 0;
  border-bottom: 1px solid;
  margin-top: 25px;
  }
  
  .sidenav button {
  background-color: var(--side-color);
  border: 0px;
  }
  
  .sidenav .list-unstyled>li>a {
  text-align: right;
  line-height: 40px;
  }
  .sidenav a {
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
  margin: 0px 30px;
  color: var(--text-color);
  line-height: 40px;
  text-transform: uppercase;
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
  }
  .sidenav a.social-link{margin: 0px 3px;}
  .top-social.side {
  padding: 10px 6px;
  display: flex;
  }
  .sidenav .closebtn {
  position: absolute;
  top: 10px;
  font-size: 30px;
  cursor: pointer;
  left: 0px;
  }
  
  .side-menu span {
  font-size: 35px;
  cursor: pointer;
  color: var(--main-color);
  width: 100%;
  display: block;
  
  }
  html[dir="ltr"] .sidenav.open {
  
    left: 0;
  }
  html[dir="ltr"] .sidenav {
    left: -580px;
    right: unset}
    html[dir="ltr"]  .sidenav .closebtn {
      left: unset;
      right: 0;
  }
  html[dir="ltr"] .side-menu .sub_list li {
    margin-left: 25px;
  }
  @media (min-width: 992px) {
  .side-menu {
    display: none;
  }
  }

/*------------header------------*/
 /* fixed-social */
  .fix-social {
    position: absolute;
    left: 0px;
    top: 155px;
}
  .fixed-social {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    z-index: 9;
    width: 45px;
}

.fixed-social a {
        border-radius: 0px 5px 5px 0px;
    display: block;
    font-size: 22px;
    width: 40px;
    height: 40px;
    background: none;
    line-height: 40px;
    color: #fff;
    text-align: center;
    -webkit-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    transition: 0.4s ease;
    margin-bottom: 2px;
    background-color: var(--main-color);
}

.fixed-social a:hover
{width: 45px;background-color: var(--sec-color);}

.fixed-social .lang:hover{opacity: 0.7;}

.fixed-social .facebook {
    background-color: #3b5998
}

.fixed-social .twitter {
    background-color: #000000
}

.fixed-social .instagram {
    background-color: #353535
}
.fixed-social .youtube {
    background-color: #b10000
}
.fixed-social .linkin {
    background-color: #007bb6
}
header{
     background-color: transparent;
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;

}
.top-head{
  -webkit-box-shadow: 0px 0px 8px 0px rgba(1, 1, 1, 0.1);
  box-shadow: 0px 0px 8px 0px rgba(1, 1, 1, 0.1);

} 
.top-head-flex{
  display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{}
.logo img{}
.menu-head{}
.menu-head li{}
.menu-head li a{
  font-size: 16px;
  margin: 0px 16px;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #DEAD64, #DEAD64 50%, #fff 50%, #fff 50%);
    background-size: 211% 100%;
    background-position: 100%;
    font-weight: 900;
  
}
.menu-head li a:hover{
    color: #DEAD64;
    transition: all 0.3s cubic-bezier(0, 0, 0.23, 1);
    background-position: 0%;
}
.menu-head li a.active{
  color: var(--main-color);
  font-weight: 600;
  position: relative;
}
.menu-head li a.active::before {
content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    left: -10px;
    bottom: 7px;
    background-color: rgb(222 173 100);
    transform: translateX(-50%);
}
a.contact-head{

   border-radius: 5px;

    font-size: 16px;



    width: 160px;
    height: 48px;
    text-align: center;
    line-height: 48px;
    color: #fff;
    display: inline-block;

    border: 1px solid transparent;
    -webkit-transition: 0.8s ease;
    -o-transition: 0.8s ease;
    transition: 0.8s ease;
    background-image: linear-gradient(to right, #fff, #fff 50%, #CA8E40 50%, #CA8E40 50%);
    background-size: 211% 100%;
    background-position: 98%;
}
a.contact-head:hover{
    color: #CA8E40;
    transition: all 0.3s cubic-bezier(0, 0, 0.23, 1);
    background-position: 0%;
}
a.contact-head i{    margin-inline-start: 5px;}
.lang-head img{
      width: 24px;
    height: 23px;
}
.lang-head {
    width: 130px;
    height: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 25px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #ffff;
    color: var(--sec-color);
    font-size: 20px;
    border: 1px solid var(--sec-color);
    border-radius: 5px;
    margin-inline-start: 10px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.lang-head i:hover{
  background-color: var(--sec-color);
  color: var(--white-color);
}
.button-head{display: flex;align-items: center;}


/*----------------------header---owl-carousel---------------------------*/
.side-slider .owl-carousel .owl-item .photo-head>img {
    height: 100vh;
}
.side-slider .owl-dots {
position: absolute;
top:80%;
right: 6%;
-webkit-transform: translate(-50%, -50%);
-moz-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
-o-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}

.side-slider .owl-dots .owl-dot {
display: inline-block;
background-color: rgb(191 187 187);
width: 32px;
height: 2px;
margin: 0px 3px
}

.slider-item {
position: relative;
}

.slider-title {
position: absolute;
top: 50%;
width: 100%;
left: 0px;
right: 0px;
transform: translateY(-50%);
}

.side-slider .owl-dots .owl-dot.active {
background-color: var(--sec-color);
}

.photo-head {
position: relative;
}
.photo-head img{height: 509px;}
.photo-head:after {
    background: #000000d1;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.85;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.slider-ti {
color: #fff;
width: 75%;
padding: 0px 75px;
}

.slider-ti h2 {
  font-size: 45px;
  font-weight: 800;
  color: #fff;
  position: relative;
  text-transform: math-auto;
  color: #DEAD64;
  background-image: linear-gradient(45deg, #DEAD64 , #ffffff 25%, #DEAD64 50%, #ffffff 75%, #DEAD64 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.slider-ti h4 {
text-transform: capitalize;
    font-size: 33px;
    line-height: 40px;
    margin-top: 25px;
    font-weight: 800;
    color: #DEAD64;
    background-image: linear-gradient(45deg, #DEAD64, #ffffff 25%, #DEAD64 50%, #ffffff 75%, #DEAD64 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}


.button-slider i{margin-inline-end: 10px;}
a.button-slider:hover{
  background-color: var(--white-color);
  border-color: var(--sec-color);
  color: var(--sec-color);
}
.side-slider .owl-carousel .owl-nav .owl-prev {
    top: 45%;
    position: absolute;
    color: #fff;
    width: 50px;
    height: 50px;
    font-size: 14px;
    right: 60px;
    border-radius: 15px;
    background-color: rgb(0 0 0 / 23%);
    opacity: 0.6;
    -webkit-transition: 0.8s ease;
    -o-transition: 0.8s ease;
    transition: 0.8s ease;
}
.side-slider .owl-carousel .owl-nav span{color: var(--white-color);}
.side-slider .owl-carousel .owl-nav .owl-next {
    top: 45%;
    position: absolute;
    color: #fff;
    width: 50px;
    height: 50px;
    left: 60px;
    font-size: 14px;
    border-radius: 15px;
    background-color: rgb(0 0 0 / 23%);
    opacity: 0.6;
    -webkit-transition: 0.8s ease;
    -o-transition: 0.8s ease;
    transition: 0.8s ease;
}

.side-slider .owl-carousel .owl-nav .owl-prev:hover,
.side-slider .owl-carousel .owl-nav .owl-next:hover {
    background-color: #dead64;
    color: rgb(229 229 229);
    opacity: 0.6;
}
/*  Section-banner-Home */
 
.sec-banner-section {
background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
       padding: 50px 0 70px;
    position: relative;
    -webkit-transform: perspective(1px);
    transform: perspective(1px);
    height: 365px;

}

.sec-banner-section::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000000d1;
    content: "";
    z-index: -1;
}
h3.banner-title {
  text-transform: uppercase;
  font-size:50px;
  font-weight: 600;
  color: #DEAD64;
    background-image: linear-gradient(45deg, #DEAD64, #ffffff 25%, #DEAD64 50%, #ffffff 75%, #DEAD64 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}
.banner-p {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ban-content{
  text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ban-content p{
  color: white;
  font-size: 48px;
    text-transform: capitalize;
  margin-top: 12px;
  color: #DEAD64;
    background-image: linear-gradient(45deg, #DEAD64, #ffffff 25%, #DEAD64 50%, #ffffff 75%, #DEAD64 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}
a.banner-link {
border-radius: 5px;
    font-size: 16px;
    width: 160px;
    height: 48px;
    text-align: center;
    line-height: 48px;
    color: #fff;
    display: inline-block;
    margin-top: 25px;
    -o-transition: 0.8s ease;
    transition: 0.8s ease;
    background-color: transparent;
    border: 1px solid var(--sec-color);
}
a.banner-link:hover {
  color: #fff;

    background-color: var(--sec-color)
}
 /* End Section-banner-Home */
/* about-home */
.about-home-section{
  padding-top: 80px;
    padding-bottom: 80px;
     background-color: var(--sec-color)
}
.about-home-flex{display: flex;}
.about-home-title{
  width: 50%;

}
.about-home-title h3{
  font-size: 35px;
    text-transform: capitalize;
    position: relative;
    font-family: 'mon-bold';
}


.about-home-title p{
    font-size: 20px;
    color: var(--main-color);
    line-height: 1.3;
}
.about-home-title a{}
.about-home-title a:hover{}
.about-home-photo{width: 50%;position: relative;    padding-top: 25px;padding-inline-start: 25px;}
.about-home-photo img{
     width: 549px;
    height: 366px;
  border-radius: 15px;

}

.about-home-photo::after {
border: 2px solid #ffffff;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 40px;
    transform: translateX(-50%);
    left: 315px;
    bottom: 0;
    width: 549px;
    height: 366px;
    z-index: 9;
    border-radius: 15px;
}

a.button-about-home{
      line-height: 45px;
    width: 156px;
    height: 48px;
    margin-top: 25px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    border: 1px solid transparent;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    display: flex
;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    background-color: var(--sec-color);
}
a.button-about-home i {
    margin-inline-end: 10px;
}
a.button-about-home:hover {
    background-color: var(--white-color);
    border-color: var(--sec-color);
    color: var(--sec-color);
}
/* Projects */
.projects-home-section{
  padding-top: 45px;
    padding-bottom: 81px;
    background-color: var(--text-color);
}
.project-item{
  border-radius: 5px;
    overflow: hidden;
}
.projects-slider{
  padding-right: 15%;
}
.projects-title-flex{    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 50px;
    padding-left: 3%;
    padding-right: 7%;}

a.view-all{
    color: var(--white-color);
    font-size: 22px;
    font-family: 'mon-semiBold';
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

        display: flex;
    align-items: center;
    text-transform: capitalize;}
    a.view-all i{
      margin-inline-start: 10px;    color: white;
    font-size: 18px;}
    a.view-all:hover i{
      color: var(--sec-color);
    }
    a.view-all:hover{color: var(--sec-color);}
    .projects-title-flex h3{
      font-size: 35px ;font-family: "mon-bold";
        color: var(--white-color);    margin: 0;    text-transform: capitalize;
    }
.photo-side{}
.photo-link{
      position: absolute;
    height: 100%;
    top: 0;
    left: 0px;
    color: #fff;
    padding: 40px 25px;
    overflow: hidden;
    width: 100%;
}
.project-brand-icon{
  height: 60px;
    width: 60px;
    border-radius: 5px;
background: linear-gradient(1deg, rgba(249, 165, 27, 0) 0%, #dead64ad 100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
}
.project-item .photo-side {
padding: 10px;
    background-color: white;
      height: 265px;
    overflow: hidden;
       position: relative;
}
.photo-cate{}
.project-brand img{
  width: 52px;
    height: 13px;
}
.project-brand{
  display: flex;
    justify-content: space-between;
}
.project-brand-text{
      display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.project-brand-text .up{
  font-size: 12px;
  background-color: var(--main-color);
  color: var(--white-color);
      padding: 5px 10px;
      margin-bottom: 3px;
}
.project-brand-text .down{
    font-size: 12px;
  background-color: var(--main-color);
  color: var(--white-color);
      background-image: linear-gradient(45deg, #EA4335 25%, #B01D1D 50%);
          padding: 5px 10px;
}
.photo-side a{
    position: absolute;
    bottom: 10px;
    background-color: #dead64b0;
    padding: 15px;
    border-radius: 10px;
}
.photo-side a:hover{
  background-color: var(--sec-color);
  color: white;
}
.project-details{
display: flex;
    flex-direction: column;
    padding: 25px;
    background-color: var(--white-color);
}
.pro-name{
  font-size: 28px;
  font-family: "mon-bold";
      text-align: left;
    margin: 0;
}
.pro-location{
  font-size: 16px;
    color: var(--text-color);
    margin-top: 10px;
       text-align: left;
           margin-bottom: 0;
}
.pro-location i{
 margin-inline-start: 5px;
  color: red;
}
.pro-scri{
  font-size: 16px;
    color: var(--text-color);
    line-height: 1.7;
       text-align: left;
           direction: ltr;
    margin: 5px 0px;
}
.pro-start{
  display: flex;
    justify-content: space-between;
    align-items: center;
}
.pro-brand{}
.start{}
.pro-price{
  margin-top: 10px;
}
.pro-price .price{
  font-size: 20px;
    font-family: "mon-bold";
}
/* Projects */
/* ------------------brands----------------- */

.brands {
 background-color: var(--text-color);
    padding-bottom: 34px;
}

.brand {
    margin: auto;
    display: table;
}

.brand .br_photo {
    width: 130px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 5px;
}
.brand .br_photo img {
    width: 100%;
    height: 100%;
        border-radius: 5px;
    object-fit: contain;
}
/* contact us */
/* Map Section */
.section-contact-map{  
  border-radius: 10px;
  overflow: hidden;
  border: 10px solid #ffffffeb;
  background-color: #ffffff;
  margin-top: 15px;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(1, 1, 1, 0.1);
  box-shadow: 0px 0px 8px 0px rgba(1, 1, 1, 0.1);}
  .section-contact-map .mapouter{    border-radius: 10px;
      overflow: hidden;   }
/* contact us */

/* Start contact us home */

.conatct-home-section{
  padding-top:70px;
    padding-bottom: 80px;
    background-color: var(--text-color);
}
.conatct-home-title{
  text-align: center;
    position: relative;
    padding-bottom:80px
}

.contact-form{    padding: 5px 15px;
    border-radius: 10px;
    margin-bottom: 25px;
}
.contact-form h4{
  font-size: 24px;
  font-family: 'mon-bold';
       margin-bottom: 20px;
    text-transform: capitalize;
      color: var(--white-color);
}
.cont.coun .form-control{position: relative;padding: 0px 101px;}

.cont .form-control {
  
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  border: 1px solid #e5e1e5;
  background-color: #ffffff;
  border-radius: 3px;
  padding: 0px 15px;
  width: 100%;
  height: 65px;
  box-shadow: none;
  border-radius: 10px;
 
}
.cont label,.one label {
    margin-bottom: 10px;
    font-weight: 100;
    font-size: 16px;
}
.cont .form-control:focus{
  border-color: var(--sec-color);
}

 .one textarea.form-control{
    width: 100%;
    height: 127px;
    outline: 0;
    padding: 10px 12px;
    border:0;
    box-shadow: none;
    border-radius: 10px;
    border: 1px solid #e5e1e5;
    box-shadow: none;
  background-color: #ffffff;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;}

 .one textarea.form-control:focus{
  border-color: var(--sec-color);
}
  
  textarea::placeholder {
   color: #c5c5c5;
    font-size: 13px;
      font-family: "cource";
      text-transform:uppercase;
  }
    .form-control::-webkit-input-placeholder {
     color: #c5c5c5;
      font-family: "mon-reg";
      text-transform: capitalize;
  }
  .form-control:-ms-input-placeholder {
     color: #c5c5c5;
      font-family: "mon-reg";
      text-transform: capitalize;
  }
  .form-control::-ms-input-placeholder {
      color: #c5c5c5;
       font-family: "mon-reg";
       text-transform: capitalize;
  }
  .form-control::placeholder {
    color: #c5c5c5;
      font-size: 13px;
      font-family: "mon-reg";
      text-transform: capitalize;   
  }
  button.submit-form {
border-radius: 5px;
    font-size: 16px;
    width: 160px;
    height: 48px;
    text-align: center;
    line-height: 48px;
    color: #fff;
    display: inline-block;
    margin-top: 25px;
    -o-transition: 0.8s ease;
    transition: 0.8s ease;
    background-color: transparent;
    border: 1px solid var(--sec-color);}
    button.submit-form:hover {
         color: #fff;
    background-color: var(--sec-color);
    }
    .f-ti i {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #FCE9E9;
    color: var(--sec-color);
    font-size: 22px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
 .f-ti li{    display: flex;
   margin-top: 10px;;}
    .con-flex{margin-bottom: 15px;margin-inline-start: 15px;}
    .f-ti{    margin-top: 30px;}
    .con-flex p{    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
    display: block;
}
.contact-info-flex{    display: flex;
    justify-content: space-between;padding-top: 65px;
    align-items: center;}
    .contact-address{    margin-bottom: 5px;
    display: flex;
    line-height: 35px;
}
.contact-address span{color: var(--white-color);    margin-right: 7px;font-weight: 800;
font-size: 18px;font-family: "mon-bold";}
.contact-address p{font-size: 18px;color: var(--white-color);margin-bottom: 0;}
/* Start Footer */
footer{
  background-color: var(--sec-color);
  color: #EEECEC;
  padding-top: 55px;
    padding-bottom: 10px;
}
.footer-menu{
  display: flex;
    justify-content: center;
    margin-bottom: 25px;
    text-align: center;
}
ul.footer-menu li a{
    color: var(--white-color);
    font-size: 18px;
    line-height: 30px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    text-transform: uppercase;
    margin-inline-start: 40px;
    text-transform: capitalize;
}
ul.footer-menu li a:hover{
  color: var(--text-color);
}


.copy-powered img{
  filter: brightness(0.5);
    margin-inline-start: 5px;
}
.copy_allright-flex{
  padding-top: 15px;
  display: flex;align-items: center;justify-content: space-between;}
.copy-powered p{
  font-size: 13px;
}
.copy-text p{font-size: 13px;}
.copy-text span{color: var(--text-color);font-weight: 800;}


/* End Footer */

@media (max-width:1024px){
  .menu-head li a {
    font-size: 16px;
    margin: 0px 12px;
}
.slider-ti {
    color: #fff;
    width: 80%;
    padding: 0px 50px;
}
.about-home-photo img {
    width: 450px;
}
.about-home-photo::after {
    left: 275px;
    width: 450px;
}
.about-home-title p {
    font-size: 18px;
}
.about-home-title h3 {
    font-size: 33px;

}
}
@media (max-width:991px){
  .menu-head {
    display: none;
}
a.contact-head{display: none;}
.logo-head img{width: 85px;}
.slider-ti h2 {
    font-size: 35px;
}
.slider-ti h4 {
    font-size: 26px;
}
.side-slider .owl-carousel .owl-item .photo-head>img {
    height: 80vh;
}
h3.banner-title {
    font-size: 35px;}
    .ban-content p {
    font-size: 30px;
}
.sec-banner-section {
    height: 340px;
}
.about-home-flex {
    flex-direction: column;
}
.about-home-title {
    width: 90%;
    text-align: center;
    margin: auto;
}
.about-home-title h3 {
        margin-bottom: 25px;
    }
    .about-home-section {
    padding-top: 35px;
}
.about-home-photo::after{display: none;}
.about-home-photo {
    width: 90%;
    padding-top: 25px;
    padding-inline-start: 0;
    margin: auto;
    text-align: center;
}
    .about-home-photo img {
        width: 82%;
        margin: auto;
    }
    .projects-slider {
    padding-right: 15px;
    padding-left: 15px;
}
.conatct-home-section {
    padding-top: 0px;
    padding-bottom: 45px;
}
.contact-form {
    padding: 5px 5px;
    margin-top: 40px;
}
button.submit-form {

    width: 100%;
    height: 56px;
    line-height: 56px;
}
footer {
    padding-top: 40px;
    padding-bottom: 10px;
}
}
@media (max-width:768px){
  .side-slider .owl-carousel .owl-nav .owl-prev,.side-slider .owl-carousel .owl-nav .owl-next{display: none;}
  .project-item{width: 395px;margin: auto;}
  .projects-title-flex {
    padding-left: 55px;
    padding-right: 55px;
}
}
@media (max-width:480px){
      .slider-ti {
        width: 100%;
        padding: 0px 40px;
    }
        .slider-ti h4 {
        font-size: 20px;
    }
        h3.banner-title {
        font-size: 25px;
    }
        .ban-content p {
        font-size: 24px;
    }
        .sec-banner-section {
        height: 310px;
    }
        .about-home-title h3 {
        font-size: 30px;
    }
     
        .about-home-photo img {
        width: 95%;
        margin: auto;
        height: auto;
    }
    .about-home-section {
    padding-bottom: 45px;
}
.contact-info-flex {
    flex-direction: column-reverse;
    padding-top: 20px;
}
.contact-address p {
    font-size: 14px;
}
.footer-menu {
    flex-direction: column;
}
ul.footer-menu li a {
    margin-inline-start: 0;

}
.footer-menu li{margin-bottom: 10px;}
.copy_allright-flex {
    flex-direction: column;
    padding-top: 0px;
}
    footer {
        padding-top: 30px;
    }
    .projects-title-flex h3 {
    font-size: 28px;

}
a.view-all {
    font-size: 18px;
}
a.view-all i {
    font-size: 15px;
}
}
@media (max-width:425px){
  .slider-title {
    top: 55%;

}
    .slider-ti h2 {
        font-size: 30px;
    }
        .slider-ti h4 {
        font-size: 18px;
            line-height: 30px;
    margin-top: 18px;
    }
    .gmap_canvas iframe {
           height: 320px;
    }
}
@media (max-width:375px){
  .project-item {
        width: 100%;
        margin: auto;
    }
    .pro-name {
    font-size: 24px;
}
.project-item .photo-side {

    height: 242px;

}
.fix-social {
    top: 65px;
}
ul.footer-menu li a {
    font-size: 15px;
}
    .about-home-title p {
        font-size: 16px;
    }
        .side-slider .owl-carousel .owl-item .photo-head>img {
        height: 70vh;
    }
        h3.banner-title {
        font-size: 22px;
    }
}
@media (max-width:325px){
  .ban-content p {
        font-size: 18px;
    }
    a.banner-link {
    margin-top: 10px;

}
.sec-banner-section {
        height: 288px;
    }
        .projects-title-flex h3 {
        font-size: 24px;
    }
        .projects-title-flex {
        padding-left: 41px;
        padding-right: 35px;
    }
        .project-item .photo-side {
        height: auto;
    }
    
.project-details {
    padding: 10px 27px;

}
    .pro-name {
        font-size: 22px;
    }
    .pro-location {
    font-size: 13px;
    margin-top: 8px;

}
.pro-scri {
    font-size: 14px;

}
.projects-home-section {
    padding-bottom: 25px;

}
.contact-address span {
    margin-right: 5px;
    font-size: 14px;
}
    .fix-social {
        top: 130px;
    }
        .logo-head img {
        width: 70px;
    }
}

/*----------------------ABOUT-PAGE------------------------------*/
.about-page img{min-width: 100%;height: 393px;    opacity: 0.5;}
.about-page{position: relative;background: rgba(0, 0, 0, 0.5);}
.about-page:after {
    background: #000000d1;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.85;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.about-page h1{font-size: 60px;
  color: #fff;
  position: absolute;
  left: 0;
  right: 50%;
  top: 50%;
  text-transform: capitalize;
  transform: translate(50%);
  text-align: center;
    margin: 0;
    z-index: 9;
}
@media (max-width:480px){
.about-page h1 {
    font-size: 30px;

}
.about-page img {
    height: 50vh;
}
}
/*----------------------ABOUT-PAGE------------------------------*/

.tab-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    height: 50px;
    margin-top: 35px;
}
.tab-ul .tab-a {
line-height: 25px;
    font-size: 16px;
    /* color: var(--secondery-color); */
    position: relative;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 20px;

    
    margin: 0px 15px;
    font-weight: 800;
      -webkit-box-shadow: 0px 0px 8px 0px rgba(1, 1, 1, 0.1);
    box-shadow: 0px 0px 8px 0px rgba(1, 1, 1, 0.1);
}
.tab-ul .tab-a img{width: 80px;height: 20px;}

.courses-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 40px;
}
.tab-ul .tab-a:hover{
-webkit-box-shadow: 0px 0px 8px 0px #dead64;
    box-shadow: 0px 0px 8px 0px #dead64;}
.tab-ul .tab-a:focus{
-webkit-box-shadow: 0px 0px 8px 0px #dead64;
    box-shadow: 0px 0px 8px 0px #dead64;
}
.tab-ul .tab-a.active{
-webkit-box-shadow: 0px 0px 8px 0px #dead64;
    box-shadow: 0px 0px 8px 0px #dead64;
}
.photo-side img{min-width: 100%;}


.tabs-sec .project-item {
    -webkit-box-shadow: 0px 0px 8px 0px rgba(1, 1, 1, 0.1);
    box-shadow: 0px 0px 8px 0px rgba(1, 1, 1, 0.1);
    direction: rtl;
}
.paginat-news{
  text-align: center;
      padding-bottom: 80px;
    padding-top: 55px;
}
.paginat-news .pagination > li > a, .paginat-news .pagination > li > span {
    position: relative;
    float: left;
    padding: 0;
    color: var(--main-color);
    text-decoration: none;
    background-color: #F5F3F3;
    border: 1px solid #F5F3F3;
    border-radius: 50%;
    margin: 4px 4px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 37px;
    font-size: 18px;
}
.paginat-news .pagination > .active > a, 
.paginat-news .pagination > .active > span, 
.paginat-news .pagination > .active > a:hover, 
.paginat-news .pagination > .active > span:hover, 
.paginat-news .pagination > .active > a:focus, 
.paginat-news .pagination > .active > span:focus {
    color: #fff;
    cursor: default;
    background-color: var(--sec-color);
    border-color: var(--sec-color);
}
.paginat-news .pagination a, 
.paginat-news .pagination a:hover, 
.paginat-news .pagination span:hover, 
.paginat-news .pagination a:focus 
 {
    color: #fff;
    cursor: pointer;
    background-color: var(--sec-color);
    border-color: var(--sec-color);
        -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.pagination > li:first-child > a,
 .pagination > li:first-child > span {
    border-radius: 50%;
    font-size: 20px;
}
.pagination > li:last-child > a,
 .pagination > li:last-child > span {
  border-radius: 50%;
  font-size: 20px;
}

.ti-search {
    width: 80%;
    height: 50px;
    position: relative;
    top: 40%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
        margin-top: 50px;
}

.ti-search input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  border-radius: 50px;
  padding: 0 20px;
  -webkit-box-shadow: 0px 0px 10px 0px #ff9e1180;
  box-shadow: 0px 0px 10px 0px #ff9e1180;
}

.ti-search input::-webkit-input-placeholder {
 font-family: "mon-reg";
}

.ti-search input::-moz-placeholder {
font-family: "mon-reg";
}

.ti-search input:-ms-input-placeholder {
 font-family: "mon-reg";
}

.ti-search input::-ms-input-placeholder {
  font-family: "mon-reg";
}

.ti-search input::placeholder {
  font-family: "mon-reg";
}

.ti-search button {
font-size: 18px;
    position: absolute;
    top: 50%;
    right: 20px;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border: 0;
    background: transparent;
    color: var(--sec-color);
}

.ti-search button:hover {
  color: var(--text-color);
}

@media (max-width:1024px){
    .courses-grid {

    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);

}
.tab-ul {
height: auto;
    flex-wrap: wrap;
    overflow: hidden;
    padding-top: 50px;
    margin-top: 0;
}
.tab-ul li{
        padding-top: 30px;
}
.courses-grid {
    margin-top: 0;
    padding-top: 40px;
}
}

@media (max-width:480px){
.photo-side img {
    min-width: 100%;
    width: 100%;
}
    .tab-ul {

        margin-top: 0;
    }
    .ti-search {
    width: 90%;
    margin-top: 40px;
}
}


