:root {
    --main-color: #1E1E1E;
    --sec-color: #DEAD64;
    --text-color: #18191D;
    --border-color: #A0A0A0;
    --contact-color: #323232;
    --white-color: #FEFEFE;
    --red-color: #FF383C;

  }
   
  @font-face {
    font-family: "mon-bold";
    src: url("../fonts/Montserrat-Bold.ttf") format("ttf"),
      url("../fonts/Montserrat-Bold.woff") format("woff"),
      url("../fonts/Montserrat-Bold.woff2") format("woff2"),
      url("../fonts/Montserrat-Bold.eot") format("eot");
  }
  
  @font-face {
    font-family: "mon-reg";
    src: url("../fonts/Montserrat-Regular.ttf") format("ttf"),
      url("../fonts/Montserrat-Regular.woff") format("woff"),
      url("../fonts/Montserrat-Regular.woff2") format("woff2"),
      url("../fonts/Montserrat-Regular.eot") format("eot");
  }

  @font-face {
    font-family: "mon-med";
    src: url("../fonts/Montserrat-Medium.ttf") format("ttf"),
      url("../fonts/Montserrat-Medium.woff") format("woff"),
      url("../fonts/Montserrat-Medium.woff2") format("woff2"),
      url("../fonts/Montserrat-Medium.eot") format("eot");
  }
  
  @font-face {
    font-family: "mon-black";
    src: url("../fonts/Montserrat-Black.ttf") format("ttf"),
      url("../fonts/Montserrat-Black.woff") format("woff"),
      url("../fonts/Montserrat-Black.woff2") format("woff2"),
      url("../fonts/Montserrat-Black.eot") format("eot");
  }

  a,
  p,
  label,
  span,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "mon-reg";
     color: var(--text-color);
  }
  a {
    color: var(--text-color);
    text-decoration: none;
    -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
  }
  .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  
    outline: none;
  }
 
  body::-webkit-scrollbar {
    background-color: #fff;
    width: 7px;
    height: 0;
  }
  body::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
  }
  html {
    scrollbar-width: thin;
    scrollbar-color: var(--main-color) #fff;
  }
  input::-webkit-inner-spin-button,
  input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
  
  .clear {
    clear: both;
  }
  
  a:hover,
  a:active,
  a:focus {
    text-decoration: none;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  a:focus,
  input:focus,
  textarea:focus,
  button:focus {
    outline: 0;
  }
  .img-contain {
    max-width: 100%;
    max-height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

  /*  */
  
  .fixall {
    margin: 0;
    border: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0;
    text-decoration: none;
  }
  .fixall:focus,
  .fixall:hover {
    outline: 0;
    text-decoration: none;
  }
 
/* Side menu */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9;
  display: none;
  }
  
  .sidenav {
  right: -580px;
  overflow: auto;
  height: 100%;
  width: 290px;
  position: fixed;
  z-index: 999999;
  top: 0;
  background-color: var(--white-color);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 55px;
  -webkit-box-shadow: 6px 1px 14px rgba(0, 0, 0, 0.175);
  box-shadow: 6px 13px 14px rgba(0, 0, 0, 0.175);
  }
  .sidenav .menu-head li a{line-height: 40px;    text-align: right;}
  
  .sidenav.open {
  right: 0;
  }
  
 .side-menu i {
    font-size: 34px;
    color: var(--sec-color);
    width: 40px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 10px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #ffff;
    color: var(--sec-color);
    font-size: 20px;
    border: 1px solid var(--sec-color);
    border-radius: 5px;
    margin-inline-start: 10px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
 .side-menu i :hover {
    background-color: var(--sec-color);
    color: var(--white-color);
}
  .side-menu .logo{text-align: center;}
  .side-menu .logo img{
  margin: auto;
  margin-bottom: 25px;
  width: 205px;
  
  }
  .sidenav input {
  width: 190px;
  height: 35px;
  border: 0;
  border-bottom: 1px solid;
  margin-top: 25px;
  }
  
  .sidenav button {
  background-color: var(--side-color);
  border: 0px;
  }
  
  .sidenav .list-unstyled>li>a {
  text-align: right;
  line-height: 40px;
  }
  .sidenav a {
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
  margin: 0px 30px;
  color: var(--text-color);
  line-height: 40px;
  text-transform: uppercase;
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
  }
  .sidenav a.social-link{margin: 0px 3px;}
  .top-social.side {
  padding: 10px 6px;
  display: flex;
  }
  .sidenav .closebtn {
  position: absolute;
  top: 10px;
  font-size: 30px;
  cursor: pointer;
  left: 0px;
  }
  
  .side-menu span {
  font-size: 35px;
  cursor: pointer;
  color: var(--main-color);
  width: 100%;
  display: block;
  
  }
  html[dir="ltr"] .sidenav.open {
  
    left: 0;
  }
  html[dir="ltr"] .sidenav {
    left: -580px;
    right: unset}
    html[dir="ltr"]  .sidenav .closebtn {
      left: unset;
      right: 0;
  }
  html[dir="ltr"] .side-menu .sub_list li {
    margin-left: 25px;
  }
  @media (min-width: 992px) {
  .side-menu {
    display: none;
  }
  }

/*------------header------------*/
 /* fixed-social */
  .fix-social {
    position: absolute;
    left: 0px;
    top: 155px;
}
  .fixed-social {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    z-index: 9;
    width: 45px;
}

.fixed-social a {
        border-radius: 0px 5px 5px 0px;
    display: block;
    font-size: 22px;
    width: 40px;
    height: 40px;
    background: none;
    line-height: 40px;
    color: #fff;
    text-align: center;
    -webkit-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    transition: 0.4s ease;
    margin-bottom: 2px;
    background-color: var(--main-color);
}

.fixed-social a:hover
{width: 45px;background-color: var(--sec-color);}

.fixed-social .lang:hover{opacity: 0.7;}

.fixed-social .facebook {
    background-color: #3b5998
}

.fixed-social .twitter {
    background-color: #000000
}

.fixed-social .instagram {
    background-color: #353535
}
.fixed-social .youtube {
    background-color: #b10000
}
.fixed-social .linkin {
    background-color: #007bb6
}
header{
     background-color: transparent;
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;

}
.top-head{
  -webkit-box-shadow: 0px 0px 8px 0px rgba(1, 1, 1, 0.1);
  box-shadow: 0px 0px 8px 0px rgba(1, 1, 1, 0.1);

} 
.top-head-flex{
  display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{}
.logo img{}
.menu-head{}
.menu-head li{}
.menu-head li a{
  font-size: 16px;
  margin: 0px 16px;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #DEAD64, #DEAD64 50%, #fff 50%, #fff 50%);
    background-size: 211% 100%;
    background-position: 100%;
    font-weight: 900;
  
}
.menu-head li a:hover{
    color: #DEAD64;
    transition: all 0.3s cubic-bezier(0, 0, 0.23, 1);
    background-position: 0%;
}
.menu-head li a.active{
  color: var(--main-color);
  font-weight: 600;
  position: relative;
}
.menu-head li a.active::before {
content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    left: -10px;
    bottom: 7px;
    background-color: rgb(222 173 100);
    transform: translateX(-50%);
}
a.contact-head{

   border-radius: 5px;

    font-size: 16px;



    width: 160px;
    height: 48px;
    text-align: center;
    line-height: 48px;
    color: #fff;
    display: inline-block;

    border: 1px solid transparent;
    -webkit-transition: 0.8s ease;
    -o-transition: 0.8s ease;
    transition: 0.8s ease;
    background-image: linear-gradient(to right, #fff, #fff 50%, #CA8E40 50%, #CA8E40 50%);
    background-size: 211% 100%;
    background-position: 98%;
}
a.contact-head:hover{
    color: #CA8E40;
    transition: all 0.3s cubic-bezier(0, 0, 0.23, 1);
    background-position: 0%;
}
a.contact-head i{    margin-inline-start: 5px;}
.lang-head img{
      width: 24px;
    height: 23px;
}
.lang-head {
    width: 130px;
    height: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 25px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #ffff;
    color: var(--sec-color);
    font-size: 20px;
    border: 1px solid var(--sec-color);
    border-radius: 5px;
    margin-inline-start: 10px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.lang-head i:hover{
  background-color: var(--sec-color);
  color: var(--white-color);
}
.button-head{display: flex;align-items: center;}


/*----------------------header---owl-carousel---------------------------*/
.side-slider .owl-carousel .owl-item .photo-head>img {
    height: 100vh;
}
.side-slider .owl-dots {
position: absolute;
top:80%;
right: 6%;
-webkit-transform: translate(-50%, -50%);
-moz-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
-o-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}

.side-slider .owl-dots .owl-dot {
display: inline-block;
background-color: rgb(191 187 187);
width: 32px;
height: 2px;
margin: 0px 3px
}

.slider-item {
position: relative;
}

.slider-title {
position: absolute;
top: 50%;
width: 100%;
left: 0px;
right: 0px;
transform: translateY(-50%);
}

.side-slider .owl-dots .owl-dot.active {
background-color: var(--sec-color);
}

.photo-head {
position: relative;
}
.photo-head img{height: 509px;}
.photo-head:after {
    background: #000000d1;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.85;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.slider-ti {
color: #fff;
width: 75%;
padding: 0px 75px;
}

.slider-ti h2 {
  font-size: 45px;
  font-weight: 800;
  color: #fff;
  position: relative;
  text-transform: math-auto;
  color: #DEAD64;
  background-image: linear-gradient(45deg, #DEAD64 , #ffffff 25%, #DEAD64 50%, #ffffff 75%, #DEAD64 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.slider-ti h4 {
text-transform: capitalize;
    font-size: 33px;
    line-height: 40px;
    margin-top: 25px;
    font-weight: 800;
    color: #DEAD64;
    background-image: linear-gradient(45deg, #DEAD64, #ffffff 25%, #DEAD64 50%, #ffffff 75%, #DEAD64 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}


.button-slider i{margin-inline-end: 10px;}
a.button-slider:hover{
  background-color: var(--white-color);
  border-color: var(--sec-color);
  color: var(--sec-color);
}
.side-slider .owl-carousel .owl-nav .owl-prev {
    top: 45%;
    position: absolute;
    color: #fff;
    width: 50px;
    height: 50px;
    font-size: 14px;
    right: 60px;
    border-radius: 15px;
    background-color: rgb(0 0 0 / 23%);
    opacity: 0.6;
    -webkit-transition: 0.8s ease;
    -o-transition: 0.8s ease;
    transition: 0.8s ease;
}
.side-slider .owl-carousel .owl-nav span{color: var(--white-color);}
.side-slider .owl-carousel .owl-nav .owl-next {
    top: 45%;
    position: absolute;
    color: #fff;
    width: 50px;
    height: 50px;
    left: 60px;
    font-size: 14px;
    border-radius: 15px;
    background-color: rgb(0 0 0 / 23%);
    opacity: 0.6;
    -webkit-transition: 0.8s ease;
    -o-transition: 0.8s ease;
    transition: 0.8s ease;
}

.side-slider .owl-carousel .owl-nav .owl-prev:hover,
.side-slider .owl-carousel .owl-nav .owl-next:hover {
    background-color: #dead64;
    color: rgb(229 229 229);
    opacity: 0.6;
}
/*  Section-banner-Home */
 
.sec-banner-section {
background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
       padding: 50px 0 70px;
    position: relative;
    -webkit-transform: perspective(1px);
    transform: perspective(1px);
    height: 365px;

}

.sec-banner-section::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000000d1;
    content: "";
    z-index: -1;
}
h3.banner-title {
  text-transform: uppercase;
  font-size:50px;
  font-weight: 600;
  color: #DEAD64;
    background-image: linear-gradient(45deg, #DEAD64, #ffffff 25%, #DEAD64 50%, #ffffff 75%, #DEAD64 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}
.banner-p {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ban-content{
  text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ban-content p{
  color: white;
  font-size: 48px;
    text-transform: capitalize;
  margin-top: 12px;
  color: #DEAD64;
    background-image: linear-gradient(45deg, #DEAD64, #ffffff 25%, #DEAD64 50%, #ffffff 75%, #DEAD64 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}
a.banner-link {
border-radius: 5px;
    font-size: 16px;
    width: 160px;
    height: 48px;
    text-align: center;
    line-height: 48px;
    color: #fff;
    display: inline-block;
    margin-top: 25px;
    -o-transition: 0.8s ease;
    transition: 0.8s ease;
    background-color: transparent;
    border: 1px solid var(--sec-color);
}
a.banner-link:hover {
  color: #fff;

    background-color: var(--sec-color)
}
 /* End Section-banner-Home */
/* about-home */
.about-home-section{
  padding-top: 80px;
    padding-bottom: 80px;
     background-color: var(--sec-color)
}
.about-home-flex{display: flex;}
.about-home-title{
  width: 50%;

}
.about-home-title h3{
  font-size: 35px;
    text-transform: capitalize;
    position: relative;
    font-family: 'mon-bold';
}


.about-home-title p{
    font-size: 20px;
    color: var(--main-color);
    line-height: 1.3;
}
.about-home-title a{}
.about-home-title a:hover{}
.about-home-photo{width: 50%;position: relative;    padding-top: 25px;padding-inline-start: 25px;}
.about-home-photo img{
     width: 549px;
    height: 366px;
  border-radius: 15px;

}

.about-home-photo::after {
border: 2px solid #ffffff;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 40px;
    transform: translateX(-50%);
    left: 315px;
    bottom: 0;
    width: 549px;
    height: 366px;
    z-index: 9;
    border-radius: 15px;
}

a.button-about-home{
      line-height: 45px;
    width: 156px;
    height: 48px;
    margin-top: 25px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    border: 1px solid transparent;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    display: flex
;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    background-color: var(--sec-color);
}
a.button-about-home i {
    margin-inline-end: 10px;
}
a.button-about-home:hover {
    background-color: var(--white-color);
    border-color: var(--sec-color);
    color: var(--sec-color);
}
/* Projects */
.projects-home-section{
  padding-top: 80px;
    padding-bottom: 80px;
    background-color: var(--text-color);
}
.project-item{
  border-radius: 5px;
    overflow: hidden;
}
.projects-slider{
  padding-right: 15%;
}
.photo-side{}
.photo-link{
      position: absolute;
    height: 100%;
    top: 0;
    left: 0px;
    color: #fff;
    padding: 40px 25px;
    overflow: hidden;
    width: 100%;
}
.project-brand-icon{
  height: 60px;
    width: 60px;
    border-radius: 5px;
background: linear-gradient(1deg, rgba(249, 165, 27, 0) 0%, #dead64ad 100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
}
.project-item .photo-side {
padding: 10px;
    background-color: white;
      height: 265px;

       position: relative;
}
.photo-cate{}
.project-brand img{
  width: 52px;
    height: 13px;
}
.project-brand{
  display: flex;
    justify-content: space-between;
}
.project-brand-text{
      display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.project-brand-text .up{
  font-size: 12px;
  background-color: var(--main-color);
  color: var(--white-color);
      padding: 5px 10px;
      margin-bottom: 3px;
}
.project-brand-text .down{
    font-size: 12px;
  background-color: var(--main-color);
  color: var(--white-color);
      background-image: linear-gradient(45deg, #EA4335 25%, #B01D1D 50%);
          padding: 5px 10px;
}
.photo-side a{
    position: absolute;
    bottom: 10px;
    background-color: #dead64b0;
    padding: 15px;
    border-radius: 10px;
}
.photo-side a:hover{
  background-color: var(--sec-color);
  color: white;
}
.project-details{
display: flex;
    flex-direction: column;
    padding: 25px;
    background-color: var(--white-color);
}
.pro-name{
  font-size: 28px;
  font-family: "mon-bold";
      text-align: left;
    margin: 0;
}
.pro-location{
  font-size: 16px;
    color: var(--text-color);
    margin-top: 10px;
       text-align: left;
           margin-bottom: 0;
}
.pro-location i{
 margin-inline-start: 5px;
  color: red;
}
.pro-scri{
  font-size: 16px;
    color: var(--text-color);
    line-height: 1.7;
       text-align: left;
           direction: ltr;
    margin: 5px 0px;
}
.pro-start{
  display: flex;
    justify-content: space-between;
    align-items: center;
}
.pro-brand{}
.start{}
.pro-price{
  margin-top: 10px;
}
.pro-price .price{
  font-size: 20px;
    font-family: "mon-bold";
}
/* Projects */
/* ------------------brands----------------- */

.brands {
 background-color: var(--text-color);
    padding-bottom: 35px;
}

.brand {
    margin: auto;
    display: table;
}

.brand .br_photo {
    width: 130px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 5px;
}
.brand .br_photo img {
    width: 100%;
    height: 100%;
        border-radius: 5px;
    object-fit: contain;
}

/* start Services-Home */
.services-home-section{
  padding-top:35px;
    padding-bottom: 80px;
}
.services-home-title{
  text-align: center;
    position: relative;
}
.services-home-title::after{
content: "";
    position: absolute;
    width: 150px;
    height: 8px;
    left: 50%;
    bottom: -30px;
    background-color: var(--sec-color);
    transform: translateX(-50%);

}
.services-home-title h3{
  font-size: 35px;
    font-weight: 700;
    margin-bottom: 25px;

}
.services-home-title span{
  font-size: 18px;
    width: 60%;
    display: block;
    margin: auto;
        text-transform: capitalize;
}
.services-blogs-home{
  padding-top: 70px;
}
.service-flex{
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}
.service-item{
  display: flex;
    align-items: start;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    flex-direction: column;
    background-color: #fff;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(1, 1, 1, 0.1);
    box-shadow: 0px 0px 8px 0px rgba(1, 1, 1, 0.1);
    width: 364px;
    border-bottom: 2px solid var(--sec-color);
}
.service-photo{
  border-radius: 10px 10px 0px 0px;
     overflow: hidden;
    /* height: 210px;
    width: 100%;  */
}
.service-photo img{
    width: 100%;
    height: 210px;
}
.service-title{
      padding: 20px;
        background-color: var(--white-color);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 0px 0px 15px 15px;

}
.service-title:hover{
  background-color: var(--sec-color);
      overflow: hidden;
    border-radius: 0px 0px 15px 15px;
}
.service-title>i{
  width: 48px;
    height: 48px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color:#FCE9E9;
    color: var(--sec-color);
    font-size: 20px;
   
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.service-title h4{
font-size: 18px;
    margin-bottom: 10px;
    display: block;
    font-family: 'sourceBold';
    margin-top: 20px;
}
.service-title p{
  font-size: 16px ;
  color: var(--text-color);
  line-height: 1.7;

}
.service-title a{
  color: var(--sec-color);
  font-size: 14px;
  font-family: 'sourceSemiBold';
      -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    margin-bottom: 10px;
    display: flex
;
    align-items: center;
}
.service-title:hover p{
  color: var(--white-color);
}
.service-title:hover h4{
  color: var(--white-color);
}
.service-title:hover a i{
  color: var(--white-color);
}
.service-title:hover.service-title>a{
  color: var(--white-color);
}
.service-title a i{
  margin-inline-start: 10px;
    font-size: 15px;
        -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.service-title a:hover i{
  margin-inline-start: 15px;
  -webkit-transform: translateX(5px);
  transform: translateX(5px);
}
.service-item.one{
  background-color: var(--sec-color);
    color: var(--white-color);
    align-items: center;
    justify-content: center;
}
.service-contact-one{
     display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 45px;

}
.service-contact-one i{
  font-size: 50px;
}
.service-contact-one h4{
      font-size: 20px;
    font-family: 'sourceBold';
    margin-top: 25px;
    margin-bottom: 20px;
}
.service-contact-one p{
      color: #F5F3F3;
    font-size: 13px;
    text-align: center;
    text-transform: capitalize;
    line-height: 1.7;
}
.service-contact-one a{
  line-height: 45px;
    width: 124px;
    height: 40px;
    margin-top: 25px;
    border-radius: 5px;
    color: var(--sec-color);
    font-size: 16px;
    border: 1px solid transparent;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    background-color: var(--white-color);
}
.service-contact-one a:hover{
  background-color: var(--sec-color);
  border-color: var(--white-color);
  color: var(--white-color);
}
/* End Services-Home */

/* Start Number-section */
.numbers-section {
  background-image: url(../images/frame.jpg);
  padding: 80px 0px;
}
.numbers-flex {
    display: -ms-grid;
    display: grid
;
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
.numbers-flex .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.numbers-flex .item .number {
color: var(--sec-color);
    font-weight: 700;
    font-size: 35px;
    line-height: 0.7;
    margin-bottom: 20px;
    font-family: 'sourceBold';
        display: flex

}

.numbers-flex .item .item-name {
font-size: 16px;
    color: #EEECEC;
    text-transform: capitalize;
}
.numb-flex{ 
display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(2, 1fr);
    gap: 0px;
    align-items: center;
}
.numb-text{}
.numb-text h3{ 
    font-size: 56px;
    font-weight: 700;
    /* margin-bottom: 25px; */
    text-transform: uppercase;
    color: var(--sec-color);
}
.numb-text h4{
font-size: 27px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: capitalize;
    color: var(--white-color);
}
.numb-title p{
  font-size: 16px;
    color: #EEECEC;
    line-height: 1.7;
        margin-top: 20px;
    margin-bottom: 0;
}
/* End Number-section */

/* Start contact us home */

.conatct-home-section{
  padding-top:70px;
    padding-bottom: 80px;
}
.conatct-home-title{
  text-align: center;
    position: relative;
    padding-bottom:80px
}
.conatct-home-title::after{
content: "";
    position: absolute;
    width: 150px;
    height: 8px;
    left: 50%;
    bottom: 45px;
    background-color: var(--sec-color);
    transform: translateX(-50%);

}
.conatct-home-title h3{
  font-size: 35px;
    font-weight: 700;
    margin-bottom: 25px;

}
.conatct-home-title span{
  font-size: 18px;
    width: 60%;
    display: block;
    margin: auto;
        text-transform: capitalize;
}
.contact-form{    padding: 32px;
    border-radius: 10px;margin-bottom: 25px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(1, 1, 1, 0.1);
    box-shadow: 0px 0px 8px 0px rgba(1, 1, 1, 0.1);
}
.contact-form h4{
  font-size: 24px;
  font-family: 'sourceBold';
  margin-bottom: 20px;
      text-transform: capitalize;
}
.cont.coun .form-control{position: relative;padding: 0px 101px;}
.county-code{    position: relative;
    bottom: 37px;
    left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: none;
    transform: translateX(-50%);
      width: 80px;
    border-right: 1px solid #EEEDEE;
    padding-inline-end: 10px;
    }
      .county-code img{    width: 30px;
    border-radius: 3px;
    margin-inline-end: 7px;}
    .county-text{font-weight: 600;
    font-size: 14px;}
.cont .form-control {
  
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  border: 1px solid #e5e1e5;
  background-color: #ffffff;
  border-radius: 3px;
  padding: 0px 15px;
  width: 100%;
  height: 50px;
  box-shadow: none;
  border-radius: 10px;
 
}
.cont label,.one label {
    margin-bottom: 10px;
    font-weight: 100;
    font-size: 16px;
}
.cont .form-control:focus{
  border-color: var(--sec-color);
}

 .one textarea.form-control{
    width: 100%;
    height: 127px;
    outline: 0;
    padding: 10px 12px;
    border:0;
    box-shadow: none;
    border-radius: 10px;
    border: 1px solid #e5e1e5;
    box-shadow: none;
  background-color: #ffffff;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;}

 .one textarea.form-control:focus{
  border-color: var(--sec-color);
}
  
  textarea::placeholder {
   color: #c5c5c5;
    font-size: 13px;
      font-family: "cource";
      text-transform:uppercase;
  }
    .form-control::-webkit-input-placeholder {
     color: #c5c5c5;
      font-family: "cource";
      text-transform: capitalize;
  }
  .form-control:-ms-input-placeholder {
     color: #c5c5c5;
      font-family: "cource";
      text-transform: capitalize;
  }
  .form-control::-ms-input-placeholder {
      color: #c5c5c5;
       font-family: "cource";
       text-transform: capitalize;
  }
  .form-control::placeholder {
    color: #c5c5c5;
      font-size: 13px;
      font-family: "cource";
      text-transform: capitalize;   
  }
  button.submit-form {
    line-height: 45px;
    width: 100%;
    height: 48px;
    margin-top: 25px;
    border-radius: 10px;
    color: var(--white-color);
    font-size: 16px;
    border: 1px solid transparent;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'sourceBold';
    text-transform: capitalize;
    background-color: var(--sec-color);
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;}
    button.submit-form:hover {
      background-color: var(--white-color);
      color: var(--sec-color);
      border-color: var(--sec-color);
    }
    .f-ti i {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #FCE9E9;
    color: var(--sec-color);
    font-size: 22px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
 .f-ti li{    display: flex;
   margin-top: 10px;;}
    .con-flex{margin-bottom: 15px;margin-inline-start: 15px;}
    .f-ti{    margin-top: 30px;}
    .con-flex p{    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
    display: block;
}
.con-flex span{    font-size: 16px;color: var(--text-color);}
.social-flex{
    display: flex;
    gap: 13px;
 
}
.social-flex i{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color:#FCE9E9;
    color: var(--main-color);
    font-size: 22px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}   
.social-flex i:hover{background-color: var(--sec-color);
  color: var(--white-color);} 
/* End contact us home */

/* Start Footer */
footer{
  background-color: #323232;
  color: #EEECEC;
  padding-top: 55px;
    padding-bottom: 50px;
}

.footer-logo img{
  width: 133px;
  height: 52px;
}

p.footer-text{
  font-size: 16px;
  color: #f5f5f5b7;
  line-height: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 85%;
}
.social-footer {
  display: flex;
  gap: 10px;
}
.social-footer i{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color:rgba(255, 255, 255, 0.1);
    color: var(--white-color);
    font-size: 15px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.social-footer i:hover{
  background-color: var(--white-color);
  color: var(--sec-color);
}
.foot-links h4{
  font-size: 18px;
    font-family: 'sourceBold';
    margin-bottom: 30px;

}
.foot-links ul li a{
  color: var(--white-color);
    font-size: 14px;
    line-height: 30px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    text-transform: uppercase;
}
.foot-links ul li a:hover{
  color: var(--sec-color);
}
.foot-social{
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
}
.foot-social a{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 24px;
  color: var(--white-color);
  width: 45px;
  height: 45px;
  border-radius: 10px;
  background-color: #323131;
  position: relative;
  margin: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.foot-social a:hover{
  background-color: #fff;
  color: var(--sec-color);
}
.foot-ti li{
      display: flex;
    align-items: center;
    margin-bottom: 20px;

}
.foot-ti i{
      color: var(--sec-color);
    font-size: 20px;
    margin-inline-end: 10px;

}
.foot-ti span{
  font-size: 16px;
}
.foot-ti .phone-foot{
  display: flex;
    flex-direction: column;
        margin-top: -10px;
}
.foot-ti .phone-fo{
display: flex;
    align-items: start;
    margin-top: 25px;
    margin-bottom: 10px;}

.copy_allright{
  background-color: #323232;
  color: #EEECEC;
}

.copy-powered img{
  filter: brightness(0.5);
    margin-inline-start: 5px;
}
.copy_allright-flex{
  padding-top: 15px;
    padding-bottom: 15px;
  border-top:1px solid #ffffff14;
  display: flex;align-items: center;justify-content: space-between;}
.copy-powered p{
  font-size: 13px;
}
.copy-text p{font-size: 13px;}
.copy-text span{color: var(--sec-color);font-weight: 800;}


/* End Footer */
@media (max-width:1024px){
  .about-home-flex {
    flex-direction: column-reverse;
}
.about-home-title {
    width: 80%;
    padding-inline-start: 0;
    margin: auto;
    /* text-align: center; */
}
.about-home-photo {
    width: 60%;
    position: relative;
    padding-top: 50px;
    margin: auto;
}
.about-home-photo::after {
    top: 35px;
    left: 286px;
}
.about-home-section {
    padding-bottom: 40px;
}
.service-item {
    width: 31%;
}

.service-photo img {
    min-width: 100%;
}
.service-photo {
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    height: 210px;
    width: 100%;
    min-width: 100%;
}
}

@media (max-width:991px){
  .menu-head {
    display: none;
}
.button-head a.contact-head {
    display: none;
}

.side-slider .owl-carousel .owl-nav .owl-prev,.side-slider .owl-carousel .owl-nav .owl-next{display: none;}
.slider-ti {
    width: 100%;
    padding: 0px;
}
.about-home-title p {
    text-align: justify;
}
.service-flex {

            justify-content: center;
}
.service-item {
        width: 48%;
    }
    .about-home-photo {
        width: 76%;
    }
    footer {
    text-align: center;
}
p.footer-text {
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}
.social-footer {
    justify-content: center;
    margin-bottom: 25px;
}
.foot-links h4 {
    margin-bottom: 20px;
}
.foot-ti{
     display: flex;
    flex-direction: column;
    align-items: center;}
        .foot-links h4 {
        color: var(--sec-color);
    }
    .foot-ti .phone-fo {
    margin-top: 5px;

}
footer {
    padding-bottom: 10px;
}
.conatct-home-section {
    padding-top: 55px;
    padding-bottom: 45px;
}
}
@media (max-width:768px){
  .photo-head img {
    height: 70vh;
}
.slider-ti {
        padding: 0px 20px;
    }
    .slider-ti h4 {
    font-size: 35px;
    margin-top: 15px;
}
.slider-ti h2 {
      width: 225px;
          font-size: 35px;
}
.slider-ti p {
    font-size: 15px;
    margin-top: 13px;
}
.slider-ti h2::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 5px;
    right: 0%;
    bottom: 15px;

}
.services-home-section {
    padding-top: 20px;
}
    .service-item {
        width: 60%;
        margin: auto;
    }
    .service-flex {
        -ms-grid-columns: (1fr) [ 1 ];
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }
    .service-item.one {
    padding: 30px 0px;
}
.numb-flex {
   -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
}
.numb-text h3 {
    font-size: 42px;
}
.numb-text h4 {
    font-size: 25px;
}
.numb-title p {
    font-size: 15px;
    width: 85%;
    text-align: center;
    margin: auto;
}
.numbers-section {
    padding: 35px 0px;
}
}
@media (max-width:480px){
  .slider-ti h4 {
        font-size: 27px;
        margin-top: 15px;
    }
        .about-home-section {
        padding-bottom: 30px;
            padding-top: 50px;
    }
    .about-home-title h3 {
    font-size: 32px;
}
.about-home-title span {
    font-size: 22px;
}
.about-home-photo img {
    width: 100%;
    height: 100%;
}
    .about-home-photo {
        width: 85%;
    }
    .about-home-photo::after {
    width: 380px;
    height: 278px;
    top: 37px;
    left: 205px;
}
.services-home-title h3 {
    font-size: 32px;
}
.services-home-title span {
    font-size: 16px;
    width: 75%;
}
.service-item {
        width: 90%;
    }
    .conatct-home-title span {
    font-size: 17px;
    width: 70%;
}
.conatct-home-title h3 {
    font-size: 32px;
    margin-bottom: 15px;
}
.copy_allright-flex {
    flex-direction: column;
    padding-bottom: 5px;
}
    footer {
        padding-bottom: 5px;
    }
}

@media (max-width:375px){
      .slider-ti p {
        font-size: 14px;
        margin-top: 10px;
    }
    a.button-slider {
    font-size: 15px;
}
.about-home-title p {
    font-size: 16px;
}
.about-home-photo::after{display: none;}
    .about-home-title span {
        font-size: 20px;
        padding-top: 0;
        padding-bottom: 15px;
    }
    .about-home-photo {
        padding-top: 35px;
    }
        .services-home-section {
        padding-top: 10px;
        padding-bottom: 50px;
    }
    .services-home-title h3 {
        font-size: 28px;
    }
        .services-home-title span {
        font-size: 15px;
        width: 82%;
    }
        .service-photo img {
        width: 100%;
    }
        .service-photo {
        height: 175px;
    }
    .service-title h4 {
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 15px;
}
.service-title p {
    font-size: 15px;
}
.service-contact-one h4 {
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 15px;
}
.service-contact-one {
    padding: 0px 30px;
}
.service-contact-one a {
    width: 100%;
}
    .services-home-section {
        padding-top: 10px;
        padding-bottom: 35px;
    }
        .numb-text h3 {
        font-size: 37px;
    }
        .numb-text h4 {
        font-size: 23px;
    }
        .conatct-home-section {
        padding-top: 30px;
        padding-bottom: 20px;
    }
        .conatct-home-title span {
        font-size: 17px;
        width: 80%;
    }
    .conatct-home-title::after {
    bottom: 25px;
}
.conatct-home-title {
    padding-bottom: 45px;
}
.contact-form {
    padding: 20px 15px;
}
.contact-form h4 {
    font-size: 22px;
}
.social-flex i {
    width: 32px;
    height: 32px;
    font-size: 16px;
}
  }
  @media (max-width:325px){
      .slider-ti h2 {
        width: 203px;
        font-size: 32px;
    }
        .slider-ti h4 {
        font-size: 24px;
    }
    a.button-slider {
    margin-top: 13px;
}
.about-home-title h3 {
        font-size: 30px;
    }
    .about-home-title h3::after,.services-home-title::after,.conatct-home-title::after {
    height: 6px;
}
.service-title {
    padding: 20px;
    padding-top: 15px;}
        .service-contact-one h4 {
        text-align: center;
    }
    .cont.coun .form-control {
    padding: 0px 99px;
}
.form-group.cont.coun{margin-bottom: 0;}
.con-flex p {
    font-size: 15px;
}
.con-flex span {
    font-size: 14px;
}
}
/* Service page */
/* breadcrumb */
.bread-page{position: relative;}
.bread-content{
  position: absolute;
  top: 50%;
  left: 0px;
  right: 0px;
  transform: translateY(-50%);
  text-align: center;
}
.bread-content h3{
  font-size: 35px;
  font-weight: 700;
  color: #ffffff;
  text-transform: capitalize;
  margin-top: 0;
}
.bread-page img{
  height: 162px;
    min-width: 100%;
}
.bread-titles{
      display: flex;
    align-items: center;
    justify-content: center;
}
.bread-titles a{
  font-size: 16px;
  color: #ffffff;
    -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.bread-titles a:hover{
  color: var(--sec-color);
}
.bread-titles i{
  color: #ffffff;
  margin: 0px 7px;
}
.bread-titles p{
  color: #ffffff;
  font-size: 16px;
   font-weight: 700;
       margin-bottom: 0;
}
 @media (max-width:768px){
  .bread-page img {
    width: 100%;
}}
 @media (max-width:480px){
.bread-content h3 {
    font-size: 30px;
}
.bread-page img {
    height: 125px;
}
 }
 @media (max-width:325px){
.bread-content h3 {
    font-size: 24px;
}
.bread-titles p {
    font-size: 14px;
}

 }
/* breadcrumb */
.section-services-page{
  padding-bottom: 80px;
    padding-top: 10px;
}
/* Service page */
/* Conatct page */
.section-contact-page{
  padding-top: 80px;
    padding-bottom: 50px;
}
 @media (max-width:480px){
.section-contact-page {
    padding-top: 40px;
    padding-bottom: 15px;
}}
/* Conatct page */
/* Letest page */
.latest-section-page{ 
  padding-top: 80px;
    padding-bottom: 50px;
}
.latest-blogs{
      display: flex;
    align-items: start;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    flex-direction: column;
    background-color: #fff;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(1, 1, 1, 0.1);
    box-shadow: 0px 0px 8px 0px rgba(1, 1, 1, 0.1);
    width: 100%;
    margin-bottom: 30px;

}
.latest-blogs p{   font-size: 24px;
    margin-bottom: 25px;
    display: block;
    width: 85%;
    height: 95px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'sourceBold';}
.latest-photo{
  border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    width: 100%;
}
.latest-photo img{
  width: 100%;
    height: 227px;
}
.latest-link{
  border-top: 1px solid #EEECEC;
    padding-top: 25px;
}
.latest-text{
  padding: 20px;
    background-color: var(--white-color);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 0px 0px 15px 15px;
    
}
.latest-link i{
    color: var(--sec-color);
    font-size: 16px;
        -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.latest-link a{
      color: var(--sec-color);
    font-size: 16px;
    font-family: 'sourceBold';
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
        display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.latest-link a:hover i{
  margin-inline-end: 15px;
  -webkit-transform: translateX(5px);
  transform: translateX(5px);
}
.paginat-news{
  text-align: center;
}
.paginat-news .pagination > li > a, .paginat-news .pagination > li > span {
    position: relative;
    float: left;
    padding: 0;
    color: var(--main-color);
    text-decoration: none;
    background-color: #F5F3F3;
    border: 1px solid #F5F3F3;
    border-radius: 50%;
    margin: 4px 4px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 37px;
    font-size: 18px;
}
.paginat-news .pagination > .active > a, 
.paginat-news .pagination > .active > span, 
.paginat-news .pagination > .active > a:hover, 
.paginat-news .pagination > .active > span:hover, 
.paginat-news .pagination > .active > a:focus, 
.paginat-news .pagination > .active > span:focus {
    color: #fff;
    cursor: default;
    background-color: var(--sec-color);
    border-color: var(--sec-color);
}
.paginat-news .pagination a, 
.paginat-news .pagination a:hover, 
.paginat-news .pagination span:hover, 
.paginat-news .pagination a:focus 
 {
    color: #fff;
    cursor: pointer;
    background-color: var(--sec-color);
    border-color: var(--sec-color);
        -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.pagination > li:first-child > a,
 .pagination > li:first-child > span {
    border-radius: 50%;
    font-size: 20px;
}
.pagination > li:last-child > a,
 .pagination > li:last-child > span {
  border-radius: 50%;
  font-size: 20px;
}
 @media (max-width:480px){
.latest-blogs p {
    font-size: 22px;
    margin-bottom: 20px;
    display: block;
    width: 94%;
    height: auto;
    font-family: 'sourceBold';
}}
/* Letest page */
/* service-details-page */
.service-details-page{
  padding-top: 80px;
    padding-bottom: 50px;
}
.service-details-content{
      margin-bottom: 35px;
}

.serv-icon i{
      width: 100px;
    height: 100px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #FCE9E9;
    color: var(--sec-color);
    font-size: 35px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.serv-title{}
.serv-title h2{
      font-size: 35px;
    font-weight: 800;
    margin-top: 25px;
    margin-bottom: 15px;
    color: var(--main-color);
}
.serv-text p{
  font-size: 18px;
    line-height: 27px;
    color: var(--text-color);
        margin-bottom: 40px;
    margin-top: 30px;
}
.serv-link{
  display: flex;
    align-items: center;
    justify-content: space-between;
}
a.serv-down{
       -webkit-transition: 0.8s ease;
    -o-transition: 0.8s ease;
    transition: 0.8s ease;
    color: var(--sec-color);
    font-size: 16px;
    font-family: 'sourceBold';
}
a.serv-down:hover{
  color: var(--text-color);
}
.serv-slider .item img{
      width: 447px;
    height: 448px;
margin: auto;
border-radius: 15px;
    overflow: hidden;
}
a.button-about-home.serv{
  width: 184px;
      margin-top: 0;
}
#carousel-custom-dots.owl-dots{display: flex;justify-content: center;
    margin-top: 20px;}
#carousel-custom-dots.owl-dots img{
  width: 80px;
  height: 80px;
}
#carousel-custom-dots li.owl-dot.active{opacity:1; 
     -webkit-transition: 0.8s ease;
    -o-transition: 0.8s ease;
    transition: 0.8s ease;}
#carousel-custom-dots .owl-dot:hover{opacity:1; 
     -webkit-transition: 0.8s ease;
    -o-transition: 0.8s ease;
    transition: 0.8s ease;}
#carousel-custom-dots li{
  margin: 5px;
    border-radius: 5px;
    overflow: hidden;
    opacity: 0.7;
}    
#carousel-custom-dots li.active{
    opacity: 1;
}    
#carousel-custom-dots{
    opacity: 0.7;
}    
.serv-slider .owl-carousel .owl-nav .owl-prev {
    bottom: -65px;
    position: absolute;
    color: var(--sec-color);
    font-size: 32px;
    right: 50px;
    -webkit-transition: 0.8s ease;
    -o-transition: 0.8s ease;
    transition: 0.8s ease;
    transform: translateY(50%);
}
.serv-slider .owl-carousel .owl-nav .owl-next {
    bottom: -65px;
    position: absolute;
    color: var(--sec-color);
    font-size: 32px;
    left: 50px;
    -webkit-transition: 0.8s ease;
    -o-transition: 0.8s ease;
    transition: 0.8s ease;
    transform: translateY(50%);
}

.serv-slider .owl-carousel .owl-nav .owl-prev:hover,
.serv-slider .owl-carousel .owl-nav .owl-next:hover {
    opacity: 0.5;
    color: var(--sec-color);
}
 @media (max-width:1024px){
  .serv-slider .owl-carousel .owl-nav .owl-next{left: 0;}
  .serv-slider .owl-carousel .owl-nav .owl-prev{right: 0;}
  .serv-link {
    flex-direction: column-reverse;

  }
  a.serv-down {
    margin-bottom: 15px;}
    .serv-text p {
    margin-bottom: 25px;
    margin-top: 30px;
}
.service-details-page {
    padding-top: 50px;
    padding-bottom: 40px;
}
 }
  @media (max-width:991px){
        .serv-slider .owl-carousel .owl-nav .owl-prev {
        right: 115px;
    }
        .serv-slider .owl-carousel .owl-nav .owl-next {
        left: 115px;
    }
  }
  @media (max-width:480px){
        .service-details-page {
        padding-top: 20px;
    }
    .serv-icon i {
    width: 55px;
    height: 55px;
    font-size: 26px;
}
.serv-title h2 {
    font-size: 32px;
}
.serv-text p {
        margin-bottom: 15px;
        margin-top: 15px;
    }
    .serv-slider .owl-carousel .owl-nav .owl-prev,.serv-slider .owl-carousel .owl-nav .owl-next{display: none}
        a.serv-down {
        text-align: center;
    }
  }
/* service-details-page */
/* article-section-page */
.article-section-page{padding-top: 80px;padding-bottom: 50px;}
.article-content h3{color: var(--main-color);    margin-bottom: 35px;font-size: 35px;font-family: 'sourceBold';}
.article-photo{
  text-align: center;
}
.article-content p{
  font-size: 16px;
  margin-bottom: 5px;
  text-align: justify;
}
.article-photo img{
  width: 424px;
  height: 424px;
  border-radius: 15px;
    overflow: hidden;
}
.article-social{
  height: 120px;
  width: 424px;
  position: relative;
  margin: auto;
    margin-top: 25px;
}
.article-social img{text-align: center;}
.article-social-flex{display: flex
;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 0%;
    right: 50%;
    transform: translateY(-50%);
    text-align: center;
    justify-content: center;
    width: 100%;
}
.article-social span{
  font-size: 16px;
  font-weight: 700;
      color: #ffff;
    margin-inline-end: 12px;
}
.article-social i{
  color: var(--white-color);
      font-size: 20px;
    margin-inline-end: 10px;
        -webkit-transition: 0.8s ease;
    -o-transition: 0.8s ease;
    transition: 0.8s ease;
  
}
.article-social i:hover{color: var(--main-color);}
  @media (max-width:1024px){
    .article-photo {
    margin-top: 40px;
}
.article-section-page {
    padding-top: 55px;
}
  }
   @media (max-width:480px){
      .articl .bread-page img {
        height: 175px;
    }
    .bread-content h3 {
        font-size: 26px;
    }
    .bread-titles {
    flex-direction: column;
}
.bread-titles i {
    margin: 5px 7px;
}
.article-photo img {
    width: 100%;
    height: 100%;
}
    .article-section-page {
        padding-top: 25px;
    }

   }
    @media (max-width:425px){
      .article-social {
    width: 100%;
}
.article-social img {
    text-align: center;
    max-width: 100%;
} 
.article-section-page {
    padding-bottom: 15px;
}
    .articl .bread-content h3 {
        font-size: 20px;
        width: 90%;
        margin: auto;
        margin-bottom: 10px;
    }
    .articl .bread-titles p {
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 0;
    width: 95%;
}
.article-content h3 {
    margin-bottom: 25px;
    font-size: 29px;

}
    }
       @media (max-width:425px){
    .article-social-flex {
    top: 38%;

}}
/* article-section-page */
